* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  font-size: 100%;
  color: #4d4d4d;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 50px;
  width: 85%;
  padding-top: 175px;
  text-align: center;
  
}

#quote {
  font-family: "Raleway", "Kabel", "Helmut", "Ealing", "Relish", "Arial";
  font-size: 32px;
}


#author {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  font-style: italic;
  margin-top: 60px; 
}
